<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>Notion integration demo</title>
    <!-- import the webpage's stylesheet -->
    
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <main id="content">
      <h3>Config</h3>
      <form id="getPageForm">    <!-- databaseForm-->
        <label for="dbName">Notion Page ID: </label>
        <input type="text" id="dbName" />
        <input type="submit" />
      </form>
      <button class="btn btn-primary" id="saveButton" value="Save as PDF" >Save as PDF</button>

      <div class="container text-left">
        <div class="row">
          <div class="col-1">
            
          </div>
          <div id="main" class="col-10">
          
             
          </div>
          <div class="col-1">
            
          </div>

        </div>
      </div>
      
     
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script>
      document.getElementById('saveButton').addEventListener('click', function () {
        // Get the element to convert
        const element = document.getElementById('content');
  
        const options = {
        margin: [1, 0, 1, 0],            // Margins in inches
        filename: 'myfile.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 1 },  // Higher scale for better quality
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
      };

      // Convert the element to PDF with options
      html2pdf().from(element).set(options).save();
      });
    </script>
  </body>
  
</html>
